<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907587725501-e6gp026e31hr8cdg8sqrl48tulrntef6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907587725501-e6gp026e31hr8cdg8sqrl48tulrntef6</string>
	<key>API_KEY</key>
	<string>AIzaSyDD3kRHkbx_0ZP6HICwVfY7rqEhr37krMg</string>
	<key>GCM_SENDER_ID</key>
	<string>907587725501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourspecially</string>
	<key>PROJECT_ID</key>
	<string>your-specially</string>
	<key>STORAGE_BUCKET</key>
	<string>your-specially.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907587725501:ios:e92436fd5fb438039f6fd4</string>
</dict>
</plist>